.cell-label-component {
  padding: 2px 10px;
  font-size: 0.8em;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
  font-weight: bold;
  &.default {
    background-color: $backgroudColor;
    color: $textColorDark;
  }
  &.primary {
    background-color: $primary;
    color: $textColorLight;
  }
  &.info {
    background-color: $info;
    color: $textColorLight;
  }
  &.warn {
    background-color: $warn;
    color: $textColorLight;
  }
  &.danger {
    background-color: $danger;
    color: $textColorLight;
  }
}
